/* CSS Reset Start */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

li{
    list-style: none;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*


  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS Reset End */

:root {
  --purple-bg: purple;
  --white: white;

  --ff-main: "Inter", sans-serif;
}

/* Main body styles */
body {
  font-family: var(--ff-main);
}

/* Styling all containers */
.container {
  margin: 0 14rem;
}

/* header styles */
.header_bg {
  background: linear-gradient(251deg, #461096 0%, #7f3ce0 100%);
  height: 45rem;
}

/* Navbar stylesd */
nav.mainNav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

/* Logo Styles */

img.logo {
  display: inline-block;
  width: 50%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav-links li {
  list-style: none;
  transition: all 10ms ease-in-out;
}

.nav-links li:hover {
  cursor: pointer;
  color: rgb(41, 132, 163);
  border-bottom: 1px solid rgb(41, 132, 163);
}

/* Hero Section  */

.hero-section {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section div {
  width: 50%;
}

.hero-text h1 {
  color: white;
  font-family: Inter;
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 4.65rem */
  width: 31.125rem;
}

.hero-text p {
  color: white;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.8rem */
  width: 27.1875rem;
  margin: 1rem 0;
}

.primary-button {
  background-color: #42b4ee;
  color: white;
  display: inline-flex;
  padding: 0.9375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
}


.secondary-button {
  color: #42b4ee;
  display: inline-flex;
  padding: 0.9375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
}

.secondary-button:hover{
  background-color: #42b4ee;
  color: white;
}


/* Feature Section */

.feature-section {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}

.feature-section div {
  width: 50%;
}

.feature-text {
  padding-left: 10rem;
}
.feature-text h2 {
  color: var(--Black, #051114);
  padding-bottom: 1.5rem;

  /* Subtitle / Base */
  font-family: Inter;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 3.575rem */
  max-width: 33rem;
}

.feature-header {
  padding: 1rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  min-width: 20rem;
  min-height: 3rem;
}

.feature-header h3 {
  padding-left: 1rem;
  color: var(--Black, #051114);
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 2.34375rem */
}

.feature-text p {
  width: 25rem;
  color: var(--Black, #051114);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.4rem */
}

/* Customer Section */
.customer-section {
  padding: 5rem 0;
}
.customer-section h2 {
  color: var(--Black, #051114);
  text-align: center;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.card {
  text-align: center;
  width: 16.6rem;
}

.card-group {
  display: flex;
  justify-content: space-evenly;
}

.card img {
  margin: 0 auto;
}
.card-body {
  padding: 2rem 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-title {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 2.34375rem */
}

.card-text {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.4rem */
  width: 13.3125rem;
  margin: 0 auto;
  padding: 1rem 0;
}

/* Pricing Plan Section */

.pricing-section h2 {
  color: var(--Black, #051114);
  text-align: center;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.toggle-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  margin: auto;
  text-align: center;
}

/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #42b4ee;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.payment-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 30%;
}

.monthly {
  color: var(--Black, #051114);
  text-align: center;

  /* Subheading / Base */
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.0625rem */
}

.yearly {
  color: var(--Black, #051114);
  text-align: center;
  /* Subheading / Base */
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.0625rem */
}

/* Prcing Card Styles*/

h6 {
  color: var(--Black, #051114);
  text-align: center;

  /* Subheading / Base */
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.0625rem */
}

.card-title {
  color: var(--Black, #051114);
  text-align: center;

  /* Subtitle / Base */
  font-family: Inter;
  font-size: 1.57rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 3.575rem */
}

.card-text li {
  margin: 1rem 0;
}